### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules/



### Java ###
*.class
*.jar
*.war
*.ear
*.logs
hs_err_pid*

### Spring Boot ###
target/
*.log
log/
logs/

### Docker ###
.dockerignore
docker-compose.override.yml

### Environment / Secrets ###
.env
.env.*
application-local.properties
application-local.yml
**/src/main/resources/application-secret*

### OS ###
.DS_Store
Thumbs.db
desktop.ini

### VS Code (just in case) ###
.vscode/

### Client-side
neon-ark-client/build/
neon-ark-client/.gradle/
neon-ark-client/.idea/